/* *  border: 1px solid black;
} { */

  body {
    background: beige;
    font-family: sans-serif;
    width: 100vw;

  }
/* --------------------------------- Header Styles---------------------------------*/

header {
  margin-bottom: 32px;
  background: rgb(241, 145, 89);
}

h1 {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  outline: 10px ridge rgb(0, 0, 0);
  width: 100vw;
  vertical-align: middle;
}

header div {
  display: flex;
  align-items: center;
  width: 100vw;
}

div img {
  width: 12vw;
  margin: 10px;
  border: 3px solid #111;
}

/* --------------------------------- Nav Bar Styles---------------------------------*/

nav {
  padding: 20px;
  background: rgb(79, 84, 84);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 90px;
}

li > a {
  color: rgb(211, 207, 207);
  font-size: 1.5vw;
}

/* --------------------------------- Main Styles---------------------------------*/

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  margin: 1em auto;
  align-items: center;
  gap: 20px;
}

h2 {
  font-size: 2vw;
  font-weight: bold;
  color: black;
  border: 2px solid #111;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  background: #80b584;
}

/* --------------------------------- Instructions Styles---------------------------------*/
.step {
  list-style-type: decimal;
  margin-left: 1.5vw;
  margin-right: 1.2vw;
}

.listDescription {
  list-style-type: disc;
  margin-left: 1.2vw;
} 


.instructions {
  border: 5px solid #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #07444a;
  margin-bottom: 10px;
  font-size: 1.5vw;
  line-height: 2.5vw;
  padding: 20px;
  color: aliceblue;
}

/* --------------------------------- Form Styles---------------------------------*/



form {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 20px;
  border: 3px solid;
  border-color: #111;
  background: rgb(241, 145, 89);
  gap: 5vw;

}

.dropDownSelector {
  text-align: center;
  display: flex;
flex-direction: column;

}



label {
  font-family: cursive;
  text-align: center;
  font-size: 2.2vw;
  margin-right: 0.5vw;
    align-self: center;
font-weight: 800;
}


/* --------------------------------- Submit Styles---------------------------------*/

input[type="submit"] {
  color: white;
  border: solid 2px #111;
  border-radius: 10px;
  cursor: pointer;
  background: #07444a;

  font-size: 1.8vw;
/* padding: 0.5vw; */
transition: background-color 0.3s;
color: aliceblue;
padding-top: ;
}


/* --------------------------------- Dropdown List Styles---------------------------------*/





select {
  font-size: 1.5vw;
  color: aliceblue;
  margin-top: 10px;
}
select:hover option {
  cursor: pointer;
  display: block;
  
} 


#dropDownBase {
  background: #3c71a5;

}
#dropDownCitrus {
  background: #de3c27;

}
#dropDownBitter{
  background: #ce8c2b;

}
#dropDownSweet{
  background: #74a041;

}
/* --------------------------------- Recipe Styles---------------------------------*/

#recipeRender {
  display: flex;
  border: 5px solid black;
}

#recipeList {
  border: 5px solid black;

}


/* <div id="recipeRender">
   <h2 id="recipeHeading"></h2>

     <div>
        <img id="recipeImage" />
      <section id="recipe">
        <ul id="recipeList"></ul>
        <!-- <p></p> -->
     </div>
    </div> */

/* -------------------------------------------Animation Styles--------------------------- */

#cheersContainer {
  margin: 0 auto;
  -webkit-user-select: none;
  font-size: 140%;
  font-family: 'Great Vibes', cursive;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
} 

.cheersLine1 {
  width: 2px;
  height: 18px;
  background: #07444a;
  .leftside();
  top: -7rem;
  left: 1.5rem;
  border-radius: 1rem;
  transform: rotate(50deg);
  animation: moveright 5s infinite ease-in-out;
}

.cheersLine2 {
  width: 2px;
  height: 18px;
  background: #07444a;
  .leftside();
  top: -8rem;
  left: 0rem;
  border-radius: 1rem;
  animation: movemiddle 5s infinite ease-in-out;
}

.cheersLine3 {
  width: 2px;
  height: 18px;
  background: #07444a;
  .leftside();
  top: -7rem;
  left: -1.5rem;
  border-radius: 1rem;
  transform: rotate(-50deg);
  animation: moveleft 5s infinite ease-in-out;
}

@glass: rgba(135, 164, 196, 0.5);

.leftside() {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: -110px;
  top: 0;
  right: 0;
}

.rightside() {
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 110px;
  top: 0;
  right: 0;
}

.glass-left {
  display: block;
  text-align: center;
  .leftside();
  background: @glass;
  border-radius: 0.5rem 0.5rem 5rem 5rem;
  width: 2.3rem;
  height: 4.9rem;
  border-left: 0.2rem solid rgba(135, 164, 196, 0.75);
  border-right: 0.2rem solid rgba(135, 164, 196, 0.75);      
  border-top: .2rem solid rgba(135,164,196,0.3);
  animation: tilt-leftside 5s infinite;
  animation-timing-function: ease-out;
  
  // glass shine
  &:before {
    content: '';
    display: block;
    height: 2.2rem;
    width: 0.25rem;
    background: rgba(255,255,255,0.5);
    top: 0.2rem;
    left: 0.2rem;
    border-radius: 1rem;
    position: absolute;
  }
  
  .stem{
    display: block;
    background: rgba(135, 164, 196, 0.5);
    border-radius: 0;
    width: 0.4rem;
    height: 2.6rem;
    margin: 0 auto;
    position: relative;
    top: 4.9rem;
    
    // champagne
    &:before {
      content: '';
      background: rgb(241, 145, 89);
      height: 3.3rem;
      width: 2.2rem;
      display: block;
      position: relative;
      z-index: -1;
      top: -3.5rem;
      left: -0.9rem;
      border-radius: 0.5rem 0.5rem 2rem 2rem;
      margin: 0 auto;
    }
    &:after {
      content: '';
      display: block;
      background: rgba(135, 164, 196, 0.5);
      border-radius: 1.5rem 1.5rem 0.2rem 0.2rem;
      border-top: .2rem solid rgba(255,255,255,0.5);
      border-left: .1rem solid rgba(135, 164, 196, 0.8); 
      border-right: .1rem solid rgba(135, 164, 196, 0.8);
      width: 2rem;
      height: 0.2rem;
      left: -0.9rem;
      margin: 0 auto;
      position: absolute;
      top: 2.6rem;
    }
  } 
}

.glass-right {
  display: block;
  text-align: center;
  .rightside();
  background: @glass;
  border-radius: 0.5rem 0.5rem 5rem 5rem;
  width: 2.3rem;
  height: 4.9rem;
  border-left: 0.2rem solid rgba(135, 164, 196, 0.75);
  border-right: 0.2rem solid rgba(135, 164, 196, 0.75);      
  border-top: .2rem solid rgba(135,164,196,0.3);
  animation: tilt-rightside 5s infinite;
  animation-timing-function: ease-out;
  
  
  // glass shine
  &:before {
    content: '';
    display: block;
    height: 2.2rem;
    width: 0.25rem;
    background: rgba(255,255,255,0.5);
    top: 0.2rem;
    left: 1.9rem;
    border-radius: 1rem;
    position: absolute;
 
  }
  
  .stem{
    display: block;
    background: rgba(135, 164, 196, 0.5);
    border-radius: 0;
    width: 0.4rem;
    height: 2.6rem;
    margin: 0 auto;
    position: relative;
    top: 4.9rem;
    
    // champagne
    &:before {
      content: '';
      background: rgb(241, 145, 89);
      height: 3.3rem;
      width: 2.2rem;
      display: block;
      position: relative;
      z-index: -1;
      top: -3.5rem;
      left: -0.9rem;
      border-radius: 0.5rem 0.5rem 2rem 2rem;
      margin: 0 auto;
    }
    &:after {
      content: '';
      display: block;
      background: rgba(135, 164, 196, 0.5);
      border-radius: 1.5rem 1.5rem 0.2rem 0.2rem;
      border-top: .2rem solid rgba(255,255,255,0.5);
      border-left: .1rem solid rgba(135, 164, 196, 0.8); 
      border-right: .1rem solid rgba(135, 164, 196, 0.8);
      width: 2rem;
      height: 0.2rem;
      left: -0.9rem;
      margin: 0 auto;
      position: absolute;
      top: 2.6rem;
      
    }
  } 
}

@keyframes tilt-leftside {
  0%   {transform: rotate(0)}
  50%  {transform: rotate(26deg)}
  100% {transform: rotate(0)}
}

@keyframes tilt-rightside {
  0%   {transform: rotate(0)}
  50%  {transform: rotate(-26deg)}
  100% {transform: rotate(0)}
}

@keyframes moveright {
  0% {
    top:-7rem;
    left: 1.5rem;
    opacity: 0;
  }
  50% {
    top:-8rem;
    left: 2.5rem;
    opacity: 0.8;
  }
  100% {
    top:-7rem;
    left: 1.5rem;
    opacity: 0;
  }
}

@keyframes movemiddle {
  0% {
    top:-8rem;
    opacity: 0;
  }
  50% {
    top:-9rem;
    opacity: 0.8;
  }
  100% {
    top:-8rem;
    opacity: 0;
  }
}

@keyframes moveleft {
  0% {
    top:-7rem;
    left: -1.5rem;
    opacity: 0;
  }
  50% {
    top:-8rem;
    left: -2.5rem;
    opacity: 0.8;
  }
  100% {
    top:-7rem;
    left: -1.5rem;
    opacity: 0;
  }
}













/* --------------------------------- Footer Styles---------------------------------*/

footer {
  font-size: 1.5vw;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background: rgb(241, 145, 89);

}
