/* *  border: 1px solid black;
} { */

main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 24px;
}

.instructions {
  /* ext-align: center;t */
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  background-color: #38d9a9;
  border-radius: 5px;
}

.instructions h2 {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #111;
  margin-bottom: 12px;
}

#dropDowns {
  display: flex;
  gap: 24px;
}

#navList {
  display: flex;
  justify-content: space-around;
  padding: 12px;
}