/* *  border: 1px solid black;
} { */

  body {
    background: beige;
    font-family: sans-serif;
    width: 100vw;

  }
/* --------------------------------- Header Styles---------------------------------*/

header {
  margin-bottom: 32px;
  background: rgb(241, 145, 89);
}

h1 {
  text-align: center;
  font-size: 4vw;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  outline: 10px ridge rgb(0, 0, 0);
  width: 100vw;
  vertical-align: middle;
}

header div {
  display: flex;
  align-items: center;
  width: 100vw;
}

div img {
  width: 12vw;
  margin: 10px;
  border: 3px solid #111;
}

/* --------------------------------- Nav Bar Styles---------------------------------*/

nav {
  padding: 20px;
  background: rgb(79, 84, 84);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 90px;
}

li > a {
  color: rgb(211, 207, 207);
  font-size: 1.5vw;
}

/* --------------------------------- Main Styles---------------------------------*/

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  margin: 1em auto;
  align-items: center;
  gap: 20px;
}

h2 {
  font-size: 2vw;
  font-weight: bold;
  color: black;
  border: 2px solid #111;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  background: #80b584;
}

/* --------------------------------- Instructions Styles---------------------------------*/
.step {
  list-style-type: decimal;
  margin-left: 1.5vw;
  margin-right: 1.2vw;
}

.listDescription {
  list-style-type: disc;
  margin-left: 1.2vw;
} 


.instructions {
  border: 5px solid #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #07444a;
  margin-bottom: 10px;
  font-size: 1.5vw;
  line-height: 2.5vw;
  padding: 20px;
  color: aliceblue;
}

/* --------------------------------- Form Styles---------------------------------*/



form {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border-radius: 20px;
  border: 3px solid;
  border-color: #111;
  background: rgb(241, 145, 89);
  gap: 5vw;

}

.dropDownSelector {
  text-align: center;
  display: flex;
flex-direction: column;

}



label {
  font-family: cursive;
  text-align: center;
  font-size: 2.2vw;
  margin-right: 0.5vw;
    align-self: center;
font-weight: 800;
}


/* --------------------------------- Submit Styles---------------------------------*/

input[type="submit"] {
  color: white;
  border: solid 2px #111;
  border-radius: 10px;
  cursor: pointer;
  background: #07444a;

  font-size: 1.8vw;
/* padding: 0.5vw; */
transition: background-color 0.3s;
color: aliceblue;
padding-top: ;
}


/* --------------------------------- Dropdown List Styles---------------------------------*/





select {
  font-size: 1.5vw;
  color: aliceblue;
  margin-top: 10px;
}
select:hover option {
  cursor: pointer;
  display: block;
  
} 


#dropDownBase {
  background: #3c71a5;

}
#dropDownCitrus {
  background: #de3c27;

}
#dropDownBitter{
  background: #ce8c2b;

}
#dropDownSweet{
  background: #74a041;

}

/* --------------------------------- Footer Styles---------------------------------*/

footer {
  font-size: 1.5vw;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background: rgb(241, 145, 89);

}